# Note: If you are using Azure App Service, go to your app's Configuration,
# and then set the following values into your app's "Application settings".
CLIENT_ID=<client id>
CLIENT_SECRET=<client secret>
# Expects the display name such as "contoso"
TENANT_NAME=<tenant name>
SIGNUPSIGNIN_USER_FLOW=B2C_1_profile_editing
EDITPROFILE_USER_FLOW=B2C_1_reset_password
RESETPASSWORD_USER_FLOW=B2C_1_signupsignin1