# This sample can be configured to work with Azure AD B2C.
#
# If you are using an Azure AD B2C tenant,
# configure the B2C_TENANT_NAME variable with your tenant name, such as "contoso".
B2C_TENANT_NAME=<your tenant name>

# You will also need to configure the following variables with your B2C policies.
SIGNUPSIGNIN_USER_FLOW=B2C_1_signinpolicy

# Optionally, you may configure the following variables with your B2C policies.
EDITPROFILE_USER_FLOW=B2C_1_ProfileEditPolicy
RESETPASSWORD_USER_FLOW=B2C_1_Password_Reset_Policy

# The following variables are required for the app to run.
CLIENT_ID=<client id>
CLIENT_SECRET=<client secret>

# Your project's redirect URI that you registered in Azure Portal.
# For example: http://localhost:5000/redirect
REDIRECT_URI=<your redirect uri>

# The following variables are required if the app needs to call an API.
#
# Multiple scopes can be added into the same line, separated by a space.
# Here we use a Microsoft Graph API as an example
# You may need to use your own API's scope.
#SCOPE=User.Read
#
# The sample app will acquire a token to call this API
#ENDPOINT=https://graph.microsoft.com/v1.0/me

