# Our how-to docs will use --debug parameter which is only available in Flask 2.2+
Flask>=2.2
requests>=2,<3
ms_identity_python[flask] @ git+https://github.com/azure-samples/ms-identity-python@0.8
python-dotenv<0.22
